@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
--yellow: #ffbc2f;
--black: #212121;
--red: #d82727;
--titlesLink: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html, body{
	height:100%;
}
body{
	font:16px / 1.42 "Roboto", Arial, sans-serif;
	color:var(--black);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	background: #fcf5e6;
}
ul{
	margin:0;
	padding:0;
}
ul>li{
	list-style: none;
}
.wrapper{
	overflow: hidden;
	min-width: 1310px;
}
.hero{
	height:100vh;
	min-height: 650px;
	background:url(img/images/original/bg.png) center center / cover no-repeat;
	position: relative;
	margin-bottom: 130px;
}
.header{
	width:1290px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.mail{
	text-decoration: none;
	text-align: center;
	color:inherit;
}
.mail__title{
	margin-bottom: 3px;
}
.mail__content{
	background: var(--black);
	color: var(--yellow);
	padding:5px 10px;
}
.hero__content{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:1140px;
	height:72%;
}
.fade-slider{
	width: 100%;
	height:100%;
	position: relative;
}
.fade-slider__item{
	background: center center / contain no-repeat;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .3s;
}
.fade-slider__item-visible{
	opacity: 1;
}
.fade-slider__item-style-thirts{
	background-image: url(img/images/web-ready/content/hero/slider_pic_1.png);
}
.fade-slider__item-style-games{
	background-image: url(img/images/web-ready/content/hero/slider_pic_2.png);
}
.fade-slider__item-style-presents{
	background-image: url(img/images/web-ready/content/hero/slider_pic_3.png);
}
.fade-slider__text{
	position: absolute;
}
.fade-slider__item-style-thirts .fade-slider__text{
	left:50%;
	top:50%;
	transform: translate(-130%, -50%);
}
.fade-slider__item-style-games .fade-slider__text{
	left:50%;
	top:70%;
	transform: translate(-50%);
}
.fade-slider__item-style-presents .fade-slider__text{
	left:50%;
	top:50%;
	transform: translate(-100%, -45%);
}
.fade-slider__item-style-games .lined-text__word{
	white-space: nowrap;
}
.lined-text{
	font-family: "alegreya", Arial, sans-serif;
	color:#fff;
	font-size: 63px;
	text-transform: uppercase;
	line-height: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.fade-slider__item-style-games .lined-text, .fade-slider__item-style-presents .lined-text{
	align-items: center;
}
.lined-text__word{
	background: var(--black);
	padding: 0 17px 8px;
	margin-top:-7px;
}
.lined-text__word-color-yellow{
	color:var(--yellow);
}
.lined-text__word:nth-child(2n){
	margin-left: 8px;
}
.sidebar{
	width: 75px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: var(--black);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: width .2s;
}
.sidebar-opened{
	width: 325px;
	padding: 0 3% 0 4%;
}
.sidebar-opened .sidebar__header{
	display: flex;
}
.sidebar__header{
	position: absolute;
	top:29px;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;
}
.sidebar__close{
	position: absolute;
	top:-4px;
	right:23px;
}
.sidebar__close-icon{
	height: 29px;
	width: 29px;
	fill:var(--yellow);
}
.sidebar__hamburger{
	display: block;
	position: absolute;
	top:27px;
	left:50%;
	transform: translate(-50%);
}
.sidebar__hamburger-icon{
	width: 29px;
	height: 29px;
	fill:var(--yellow);
}
.sidebar-opened .sidebar__hamburger{
	display: none;
}
.sidebar__menu{
	position: absolute;
	left:-400px;
	transition: left .3s
}
.sidebar-opened .sidebar__menu{
	left: 0;
	width: 100%;
	text-align: center;
}
.side-menu__item{
	margin-bottom: 20px;
}
.side-menu__link{
	font-size: 20px;
	color:var(--yellow);
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--titlesLink)
}
.side-menu__link:hover{
	color:var(--red);
}
.filter{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}
.filter__item{
	margin-right: 40px;
}
.filter__item:last-child{
	margin-right: 0;
}
.filter__link{
	text-transform: uppercase;
	padding:4px 21px 1px 21px;
	font-family: var(--titlesLink);
	font-size:24px;
	font-weight: bold;
	color:var(--black);
	text-decoration: none;
	display: inline-block;
}
.filter__link:hover{
	color: var(--red);
}
.filter__item-active .filter__link{
	color: var(--yellow);
	background: #1b1b1b;
}
.container{
	margin:0 auto;
	width: 1300px;
}
.product{
	margin-bottom: 160px;
}
.product__list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -28px;
}
.product__item{
	width: 303px;
	height:386px;
	background: var(--yellow);
	margin-bottom: 35px;
	margin-left: 28px;
	position: relative;
}
.product__item-color-black{
	background: #232323;
}
.product__item-size-double{
	width: 634px;
  	height: 544px;
}
.products__price{
	position: absolute;
	top:18px;
	left:-5px;
	width: 126px;
	border-bottom:45px solid #232323;
	border-left: 5px solid transparent;
	border-right: 2px solid transparent;
	transform: rotate(-181deg);
}
.products__price-amount{
	font-size: 30px;
	font-weight: bold;
	color:#fff;
	font-family: var(--titlesLink);
	transform: rotate(181deg);
	position: absolute;
	top:-2px;
	right: 28px;
}
.product__item-color-black .products__price{
	border-bottom-color: var(--yellow);
}
.product__item-color-black .products__price-amount{
	color:var(--black);
}
.products__content{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.products__img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.products__desc{
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	padding:25px;
	background: rgba(35,35,35,0.8);
	font-size: 15px;
	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(100%);
	transition: transform .3s;
}
.products__desc-text{
	text-align: center;
}
.product__item:hover .products__desc{
	transform: translateY(0);
}
.btn{
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	padding:5px 25px 2px;
	margin-top:20px;
	background: var(--black);
	color:var(--yellow);
	font-family: var(--titlesLink);
	font-size:24px;
	margin-left:50px;
	margin-right:50px;
}
.btn:hover{
	background: var(--red);
	color:#fff;
}
.collections{
	margin-bottom: 135px;
}
.collections__list{
display: flex;
}
.collections__item{
	min-height: 474px;
	flex:1;
	overflow: hidden;
	margin-right: 30px;
	background: url(./img/images/web-ready/bg/pattern.png) center center/500px;
	position: relative;
}
.collections__item::before{
	content: "";
	display: block;
	position: absolute;
	top:-15%;
	left:-18%;
	height:160%;
	width: 60%;
	background: center center / contain no-repeat;
}
.collections__item-type-guys::before{
	background-image: url(img/images/web-ready/collections/collection_man.png);
}
.collections__item-type-girls::before{
	background-image: url(img/images/web-ready/collections/collection_woman.png);
	top:-31%;
	width:80%;
	left:-25%;
}
.collections__item:last-child{
	margin-right: 0;
}
.collections__link{
	display: block;
	padding: 74px 13% 74px 35%;
	text-decoration: none;
	color:inherit;
	font-size: 15px;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}
.collections__link:hover .btn{
	background: var(--red);
	color:#fff;
}
.collections__title{
	font-family: var(titlesLink);
	font-weight: bold;
	font-size: 60px;
	line-height: 1;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 11px;
}
.collections__desc{
	margin-bottom: 20px;
}
.footer{
	margin-bottom: 115px;
}
.footer__container{
	width:1105px;
}
.site-menu__sections{
	display: flex;
	justify-content: space-between;
}
.site-menu__col{
	margin-right: 20px;
}
.site-menu__col:last-child{
	margin-right: 0;
}
.site-menu__title{
	font-family: var(--titlesLink);
	font-size: 24px;
	font-weight: bold;
	color:var(--black);
	text-transform: uppercase;
	margin-bottom: 24px;
}
.site-menu__item{
	margin-bottom: 15px;
}
.site-menu__link{
	color:#737373;
	font-size: 15px;
	text-decoration: none;
}
.site-menu__link:hover{
	color:var(--red);
}
.site-menu__text{
	font-size: 15px;
	color:var(--black);
	margin-bottom: 30px;
}
.site-menu__text-row{
	color:inherit;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
}
.extras{
	display: flex;
	margin-top: 100px;
	margin-bottom: 95px;
}
.extras__col{
	margin-right: 20px;
	flex:1;
}
.extras__col:last-child{
	margin-right: 0;
}
.extras__best{
	text-align: center;
	color:#fff;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	background: var(--black);
	display: block;
	text-decoration: none;
	font-family: var(--titlesLink);
	padding:39px 10%;
	line-height: 1;
}
.extras__col-socials{
	height: 100%;
	background: url(./img/images/web-ready/bg/pattern.png) center center/500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.socials{
	display: flex;
}
.socials__item{
	margin-right: 50px;
}
.socials__item:last-child{
	margin-right: 0;
}
.socials__link{
	display: block;
	width: 38px;
	height: 38px;
}
.socials__icon{
	width: 100%;
	height: 100%;
}
.socials__link:hover .socials__icon{
	fill:var(--red);
}